API_METRIKA_ACCESS_TOKEN=AgAAAAAEy-SfAAag4ZWygJ7trE9Xr0auLOUt9Xs 
METRIKA_COUNTER_ID=52260115
VISITS_ALL_FIELDS="ym:s:counterID", "ym:s:dateTime", "ym:s:date", "ym:s:clientID", "ym:s:deviceCategory", "ym:s:operatingSystemRoot", "ym:s:operatingSystem", "ym:s:networkType", "ym:s:lastTrafficSource", "ym:s:browser",  "ym:s:browserMajorVersion", "ym:s:mobilePhone", "ym:s:mobilePhoneModel", "ym:s:screenWidth", "ym:s:screenHeight", "ym:s:parsedParamsKey1", "ym:s:parsedParamsKey2" 
HITS_ALL_FIELDS="ym:pv:counterID","ym:pv:dateTime", "ym:pv:date","ym:pv:clientID"
